input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body{
    font-family: 'Roboto', sans-serif;
    background: #00897B;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
/* login page */
#container{
    margin: 0 auto;
    width: 65%;
    text-align: center;
    padding: 12%;
}
#container-register{
    margin: 0 auto;
    width: 65%;
    text-align: center;
    padding: 6%;
}
#container p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.8em;
    margin-bottom: 40px;
    margin-top: 25%;
}
.input-text{
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    border: none;
}
.input-button{
    margin-top: 15px;
    padding: 10px 30px 10px 30px;
    border: 2px solid #fff;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', 'Helvetica';
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: #00897B;
    transition: 0.3s;
}
.input-button:hover{
    color: #008080;
    background-color: white;
    transition: 0.3s;
}
a{
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 5%;
}
h2, h4{
    color: white;
}