xampp-backup/RWD/
xampp-backup/android_login_api/
xampp-backup/bootstrap/
xampp-backup/dashboard/
xampp-backup/edbert/
xampp-backup/endterm/
xampp-backup/exam/
xampp-backup/img/
xampp-backup/kearl/
xampp-backup/mapp/
xampp-backup/meagan/
xampp-backup/midterm/
xampp-backup/mobile/
xampp-backup/notification/
xampp-backup/pdo/
xampp-backup/practice/
xampp-backup/rickysungem/
xampp-backup/rms/
xampp-backup/ros/
xampp-backup/sample/
xampp-backup/sample_database/
xampp-backup/sample_graph/
xampp-backup/sample_popup/
xampp-backup/spinner/
xampp-backup/sungem-admin/
xampp-backup/webanim/exam/
xampp-backup/xampp/
xampp-backup/applications.html/
xampp-backup/bitnami.css
xampp-backup/favicon.ico
xampp-backup/index.php.bak
xampp-backup/script.sql
xampp-backup/basicwebsite/
xampp-backup/sleepnot/
xampp-backup/sleepnotgo/
xampp-backup/ecom/
xampp-backup/ojt-project-ubiquity/
xampp-backup/sungem-client/
xampp-backup/surv/
.vscode/
*.zip
