xampp-backup/
xampp-backup/basicwebsite/
xampp-backup/sleepnot/
xampp-backup/sleepnotgo/
xampp-backup/ecom/
xampp-backup/ojt-project-ubiquity/
xampp-backup/sungem-client/
xampp-backup/surv/
sng/
.vscode/